<h1 class="page-header">Animes que já assisti</h1>

<div class="row animes-listening">
  <% @watched_animes.each do |wa| anime = wa.anime  %>
    <div class="col-sm-6 col-md-3 animes" data-toggle="tooltip" data-placement="left" title="<%= anime.name %>">
      <div class="thumbnail">
      <%= content_tag :div, '', class: 'anime-image', style: ("background-image:url(#{anime.image.url})")  %>
      <div class="caption">
        <h3><%= link_to anime.name, anime %></h3>
      </div>
    </div>
    </div>
  <% end %>
  <% if @watched_animes.empty? %>
    <h2 class="page-header">Nenhum anime cadastrado ainda :(</h2>
  <% end %>
</div>

<%= link_to 'Adicionar novo anime', new_watched_anime_path, class: 'btn btn-success' %>
