<div class="row">
  <% @animes.each do |anime| %>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="left" title="<%= anime.name %>">
      <div class="thumbnail">
      <%= link_to (image_tag anime.image.url, class: 'img-responsive', alt: anime.name), anime %>
      <div class="caption">
<!--         <p><%= anime.description[0..100] %></p>
        <p>
          <%= link_to "Ver mais", anime_path(anime), class: 'btn btn-primary' %>
        </p> -->
      </div>
    </div>
    </div>
  <% end %>
  <% if @animes.empty? %>
    <h2 class="page-header">Nenhum anime cadastrado ainda :(</h2>
  <% end %>
</div>