<% @animes.each_slice(4) do |group| %>
  <% group.each do |anime| %>

  <div class="row animes-listening">
      <div class="col-sm-12 col-md-3 animes" data-toggle="tooltip" data-placement="left" title="<%= anime.name %>">
        <div class="thumbnail">
        <%= content_tag :div, '', class: 'anime-image', style: ("background-image:url(#{anime.image.url})")  %>
        <div class="caption">
          <h3><%= link_to anime.name, anime %></h3>
        </div>
      </div>
      </div>
    <% end %>
    <% if @animes.empty? %>
      <h2 class="page-header">Nenhum anime cadastrado ainda :(</h2>
  </div>
  <% end %>
<% end %>
